<div class="spotlight">
	<section class="spotlightHero">
		<div class="titleContain mainHolder">
			<h1>Be Smarter.<br>Be Healthier.</h1>
			<a href="/products/alcohoot-breathalyzer"><button>BUY NOW</button></a>
		</div>
	</section>

	<section class="contentRight">
	  <div class="contentRightHolder mainHolder">
	    <img src="{{ 'blackDeviceReady.png' | asset_url }}">
	    <div class="clear"></div>
	    <div>
	      <h2>Designed for Accuracy</h2>
	      <p>Alcohoot is an easy, accurate tool to help you track your body's reaction to alcohol and become a smarter drinker. It uses an FDA-registered fuel cell sensor, the same technology used by police and military devices. Plug it right into your headphone jack, and you're ready to go. Learn your drinking habits, enhance your lifestyle.</p>
	    </div>
	  </div>
	  <div class="clear"></div>
	</section>

	<section class="mainHolder">
		<div class="threeHighlights">
			<div class="highlight">
				<img src="{{ 'alcohoot-jack-outline.png' | asset_url }}">
				<h3>3.5m Headphone jack for compatibility</h3>
				
			</div>
			<div class="highlight">
				<img src="{{ 'alcohoot-shield-outline.png' | asset_url }}">
				<h3>Law Enforcement Fuel Cell Technology</h3>
				
			</div>
			<div class="highlight">
				<img src="{{ 'alcohoot-device-outline.png' | asset_url }}">
				<h3>Designed For <br>You</h3>
				
			</div>
		</div>
	</section>

	<section class="bigImage">
		<div class="bigImageLeft">
			<div>
				<h3>HIGHLY ACCURATE.</h3>
					<p>
						Lorem ipsum dolor sit amet, doming adolescens scribentur ea sed, et dico populo sensibus vix. Graece erroribus est an, has ne constituto reprimique.
					</P>
				<h3>LEADING RELIABILITY.</h3>
					<p>
						Lorem ipsum dolor sit amet, doming adolescens scribentur ea sed, et dico populo sensibus vix. Graece erroribus est an, has ne constituto reprimique.
					</P>
				<h3>HEALTH TRACKING.</h3>
				<p>
						Lorem ipsum dolor sit amet, doming adolescens scribentur ea sed, et dico populo sensibus vix. Graece erroribus est an, has ne constituto reprimique.
					</P>
				<h3>WIDE COMPATIBILITY</h3>
					<p>
						Lorem ipsum dolor sit amet, doming adolescens scribentur ea sed, et dico populo sensibus vix. Graece erroribus est an, has ne constituto reprimique.
					</P>
			</div>
		</div>
	</section>

	<section class="contentRight">
	  <div class="contentRightHolder mainHolder">
	    <img src="{{ 'limitsScreen1.png' | asset_url }}" class="limitsScreen">
	    <div class="clear"></div>
	    <div class="bigPhoneContent">
	      <h2>Discover Your Limits</h2>
	      <p>
	      	Technology trusted by moms and law enforcement alike.<br><br>
				SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
				Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
	      </p>
	    </div>
	  </div>
	  <div class="clear"></div>
	</section>

	<section>
		<div class="spotlightFullImage">
		<img src="{{ 'alcohoot-2.jpg' | asset_url }}">
	</div>
	</section>

	<section class="specs">
		<div class="specsTable">
			<h1>Design and Specifications</h1>
			<table>
			  <tbody>
			    <tr>
			      <td class="tableTitle">Colors</td>
			      <td>Black, White, Red</td>
			   </tr>
			   <tr>
			      <td class="tableTitle">Material</td>
			      <td>Matte Ruberized Composite</td>
			   </tr>
			      <td class="tableTitle">Device Dimensions</td>
			      <td>3.76 x 37.1 x 9.23</td>
			   </tr>
			   <tr>
			     	<td class="tableTitle">Battery</td>
			     	<td>Lithium Ion recharges in 2 hours via USB</td>
			   </tr>
			   <tr>
			      <td class="tableTitle">Battery Life</td>
			      <td>500+ Tests per charge</td>
			   </tr>
			   <tr>
			      <td class="tableTitle">Fuel Sensor</td>
			      <td>Advanced electrochemical fuel ftensor</td>
			   </tr>
			   <tr>
			      <td class="tableTitle">Sensor Accuracy</td>
			      <td>+/- 0.010% BAC</td>
			   </tr>
			   <tr>
			      <td class="tableTitle">Warranty</td>
			      <td>One Year</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</section>

	<section class="fullWidthImage">
	<div class="mainHolder">
		<div>
			<h1>Safety + Responsibility</h1>
			<p>Alcohoot’s advanced technology fits in your pocket or glove box and is always ready to improve your health and wellness.</p>
		</div>
	</div>
	</section>

	<section class="fullWidthImageTemp">
	<div class="mainHolder">
		<div>
			<h1>Safety + Responsibility</h1>
			<p>Alcohoot’s advanced technology fits in your pocket or glove box and is always ready to improve your health and wellness.</p>
		</div>
	</div>
	</section>
</div>

{{ page.content }}

















